<div class="mainview">

    <div class="loginbody">

        <div class="max-w-[940px] h-[520px] bg-gradient-to-b from-black p-5 to-transparent border-transparent rounded-xl grid   lg: grid-cols-1 sm:grid-cols-1 md:grid-cols-2 items-center gap-20 mt-14">

            <div class="grid">

                <img class="rounded-xl shadow-[0_0_10px_theme('colors.black')]"
                    src="https://img.freepik.com/free-photo/3d-internet-secuirty-badge_1048-18106.jpg?size=338&ext=jpg&ga=GA1.1.1395880969.1709251200&semt=ais"
                    alt="No Image">

            </div>

            <div class="max-w-100 grid gap-5">

                <h6 class="text-5xl text-white font-bold">Login</h6>
                <p class="text-zinc-50">Get a display of your valuable contact details right here</p>

                <form class="space-y-6 text-white">
                    <div class="relative">
                        <div
                            class="absolute top-1 left-1 text-blue-300 bg-white-medium rounded-md p-2 flex items-center justify-center">

                            <i class="fa-regular fa-user"></i>

                        </div>

                        <input name="username" [(ngModel)]="username" type="text" placeholder="Username"
                            class="w-5/6 bg-white-light py-2 px-10 rounded-lg focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg">

                    </div>

                    <div class="relative">
                        <div
                            class="absolute top-1 left-1 text-blue-300 bg-white-medium rounded-md p-2 flex items-center justify-center">

                            <i class="fa-solid fa-lock"></i>

                        </div>

                        <input name="password" [(ngModel)]="password" type="password" placeholder="Password"
                            class="w-5/6 bg-white-light py-2 px-11 rounded-lg focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg">

                    </div>



                    <button (click)="login()"
                        class="bg-blue-500 hover:bg-green-600 w-2/5 font-semibold rounded-md py-2">Log in</button>


                </form>

                <div class="text-zinc-50 border-t border-white-light pt-4 space-y-4 text-sm">
                    <p>Don't have an account ? <a class="text-neon-blue cursor-pointer hover:text-blue-500">Sign up
                            here</a> </p>
                    <p class="text-neon-blue cursor-pointer hover:text-blue-500">Forgot Password</p>

                </div>

            </div>

        </div>

    </div>

</div>