<div class="viewheight" >

    <div class="contact-list-body">

        <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-center gap-12 p-20 items-center">

            <div class="flex justify-center items-center">

                <img src="https://imageio.forbes.com/specials-images/imageserve/5f590b18f0697d67aa4887d1/Unknown-caller--A-man-holds-a-phone-in-his-hand-and-thinks-to-end-the-call--Incoming/0x0.jpg?format=jpg&crop=5458,3069,x0,y0,safe&width=960"
                    alt="No Img" class="shadow-[0_0_10px_theme('colors.purple.700')] rounded-xl  h-72">

            </div>

            <div class="grid ">

                <div class="grid ">

                    <h1 class="text-4xl font-bold text-white">Maintaining contact list</h1>
                    <p class="mt-12 text-white mb-10">Contact lists act as containers that store multiple phone numbers
                        together. Creating and maintaining multiple lists is the most basic way to segment your contacts
                        into different groups based on different characteristics that are relevant to your organization.
                    </p>

                    <a routerLink="/contacts" class="text-blue-500 hover:text-violet-600 cursor-pointer max-w-36">Your
                        Contact List</a>


                </div>






            </div>



        </div>


    </div>




</div>