.contact-list-body{
    /* background-image: radial-gradient(circle at center center, rgb(93, 60, 152),rgb(10, 3, 9)); */
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewheight{
    background-image: radial-gradient(circle at center center, rgb(93, 60, 152),rgb(10, 3, 9));
    height: 1000px;
}